.empty-cart {
  padding: 30px;
  height: calc(100vh - 250px);
}

.empty-cart h1 {
  font-size: 32px;
  color: #000;
}

.empty-cart p {
  font-size: 21px;
  font-weight: 500;
  color: var(--gray-color);
  margin: 15px 0;
}

.empty-cart-link {
  font-size: 30;
  color: blue;
  font-weight: 600;
  text-decoration: underline;
}

body.dark-theme .empty-cart h1,
.empty-cart-link {
  color: white;
}
