.header-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  padding: 10px 30px;
}

.header-banner-img {
  height: 300px;
  width: 100%;
}

@media (max-width: 920px) {
  .header-banner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 720px) {
  .header-banner {
    padding: 15px; /* Adjust padding for small screens */
  }
}
